apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: spacecraft-telemetry-hpa
  namespace: spacecraft-telemetry
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: spacecraft-telemetry-deployment
  minReplicas: 1
  maxReplicas: 2
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70